/* styles/globals.css */

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #111;
  color: #eee;
}
